<% provide(:title, "About") %>
<h1>About Page</h1>
<p>
  The Weekly Puck has decided to move out of the dark ages and into a new age.
  The internet provides many possibilities for gathering information and providing
  meaningful statistics and soon The Weekly Puck will enter this brave new world
  of information.

  We will be using the Yahoo! Sports API to pull
  <a href="https://hockey.fantasysports.yahoo.com/hockey/36671">our League's</a>
  data for use in our patented Prediction Machine algorithm.

  Long term features may include
  - Manager Log In
  - Man Games per Week Data Access
  - AND MORE!

  Check back soon for updates!
</p>
