<% provide(:title, "Home") %>
<div class="center jumbotron">
  <%= link_to image_tag("petey.png", alt: "Pup and Cup", :size => '260x180'),
              'https://www.nhl.com/' %>
  <h1>The Weekly Puck</h1>
  <h3>Maintaining Mediocrity since 2012</h3>
  </br>
  <p>
    FILLER TEXT START</br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium ac
    nibh at rhoncus. Sed tincidunt elit at nibh dignissim, pellentesque
    hendrerit diam dapibus. Suspendisse fermentum nisi eget ornare gravida.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames
    ac turpis egestas. Maecenas at varius justo. Phasellus maximus finibus
    felis, a pretium dolor suscipit ut. Vestibulum volutpat sollicitudin metus
    at efficitur. Nullam vitae ante eleifend, posuere risus a, porttitor velit.
    Etiam vitae dictum ligula.</br>
    FILLER TEXT END
  </p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
